<div id="topBanner">
  <div class="navigation">
    <a href="/">
      <button type="button" name="button">
        Home
      </button>
    </a>
    <a href="/menu">
      <button type="button" name="button">
        Menu
      </button>
    </a>
    <a href="/costumer">
      <button type="button" name="button">
        Costumer
      </button>
    </a>
    <a href="/invoice">
      <button type="button" name="button">
        Invoice
      </button>
    </a>
  </div>
</div>
